nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 9vh;
    background: rgb(255, 255, 255);
}

.nav-logo{
    padding-left: 25px;
}

.nav-links{
    width: 16%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
}

.btn-email-text{
    color: #26c6da;
}

.btn-signup-text{
    color: white;
}

.btn-texts-login{
    letter-spacing: .5px;
    text-transform: uppercase;
}