.titleStyle {
    font-weight: 500;
    font-family: "Roboto Slab" !important;
}

.text {
    font-family: "Roboto Slab" !important;
}

.image{
    height: 45vh;
}

.cont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 3vw 2vh 3vw;
    flex-wrap: wrap;
}

.listEl{
    font-family: "Roboto Slab";
    margin-bottom: 1vh;
    text-align: left;
}

.recipeEl{
    margin-bottom: 3vh;
}