.addRecBtn {
    color: white;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.input-with-del{
    display: flex;
    align-items: center;
    justify-content: center;
}

.in-row{
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: 20% 50%;
}