.addRecBtn {
    color: white;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.input-with-del{
    display: flex;
    align-items: center;
    justify-content: center;
}

.in-row{
    display: grid;
    gap: 3%;
    justify-content: center;
    grid-template-columns: 20% 52%;
    margin-bottom: 5%;
}

.titleStyle{
    font-weight: 500;
}

.single-input {
    width: 75%;
}

.div-margin{
    margin-bottom: 5%;
}



