.back-image {
    background: url(../../images/BackgroundLogowanie.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.register-text {
    font-family: 'Roboto Slab';
    /*fontStyle: normal;*/
    font-weight: 500;
    font-size: 25px;
    line-height: 2px;
    letter-spacing: 1.25px;
    color: #002226;
}