:root {
    --white: #fff;
    --black: #000;
    --primary: #ffc107;
    --secondary: #26c6da;
    --primary_l: #fff350;
    --primary_d: #c79100;
    --secondary_l: #6ef9ff;
    --secondary_d: #0095a7;
}