:root {
    --white: #fff;
    --black: #000;
    --primary: #ffc107;
    --secondary: #26c6da;
    --primary_l: #fff350;
    --primary_d: #c79100;
    --secondary_l: #6ef9ff;
    --secondary_d: #0095a7;
    --light_gray: #EDEDED;
    --light_medium_gray: #DFDEDE;
    --medium_gray: #7C7C7C;
    --font_color: #002226;
}